<%= form_tag("/activity", method: "get") do |form| %>
  See bills with activity since:
  <input type="date" name="updatedSinceDate" value="<%= @date %>">
  <%= submit_tag("Go")%>
<% end %>
<ul>
  <% @active_bills.each do |bill| %>
    <li><%= link_to(bill.bill_title, bill_path(:id => bill.bill_id)) %></li>
  <% end %>
</ul>
<% if @active_bills.length < 1 and @date %>
  None of the bills you're following have been active since <%= @date %>
<% end %>
