<%= form_tag("/follow", method: "post") do |form| %>
  <%= label_tag("Identifier:") %>
  <%= text_field_tag('bill_identifier', @response["data"]["bill"]["identifier"], readonly: true) %>
  <%= label_tag("Title:") %>
  <%= text_field_tag('bill_title', @response["data"]["bill"]["title"], readonly: true) %>
  <%= label_tag("Classification:") %>
  <%= text_field_tag('bill_classification', @response["data"]["bill"]["classification"], readonly: true) %>
  <%= label_tag("Session:") %>
  <%= text_field_tag('bill_session', @response["data"]["bill"]["legislativeSession"]["identifier"], readonly: true) %>
  <%= label_tag("Jurisdiction:") %>
  <%= text_field_tag('bill_jurisdiction', @response["data"]["bill"]["legislativeSession"]["jurisdiction"]["name"], readonly: true) %>
  <%= label_tag("Open States ID:") %>
  <%= text_field_tag(:bill_id, @id, readonly: true) %>
  <% if Bill.find_by(bill_id: @id) %>
  <%= submit_tag("Unfollow") %>
  <% else %>
  <%= submit_tag("Follow")%>
  <% end %>
<% end %>
<ul>
  <li>Last Updated: <%= @response["data"]["bill"]["updatedAt"] %></li>
  <li>Created: <%= @response["data"]["bill"]["createdAt"] %></li>
  <li>Subject: <%= @response["data"]["bill"]["subject"] %></li>
  <li>Actions: 
    <ul>
      <% @response["data"]["bill"]["actions"].each do |action| %>
        <li>
          <%= action["date"] %>: <%= action["description"]%>
        </li>
      <% end %>
    </ul>
  </li>
  <% if @response["data"]["bill"]["votes"][1] %>
    <ul>
      <% @response["data"]["bill"]["votes"].each do |vote| %>
        <li>Counts: <%= vote[1][0]["node"]["counts"]%></li>
        <li>
          <ul>
            <% vote[1][0]["node"]["votes"].each do |personVote| %>
              <li><%= personVote["option"] %> | <%= personVote["voterName"] %> | <%= personVote["note"] %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </li>
  <% end %>
  <li>Documents: 
    <ul>
      <% @response["data"]["bill"]["documents"].each do |document| %>
        <li>
          <%= document["date"] %>: <a href="<%=document["links"][0]["url"]%>"><%= document["note"]%></a>
        </li>
      <% end %>
    </ul>
  </li>
  <li>Versions: 
    <ul>
      <% @response["data"]["bill"]["versions"].each do |version| %>
        <li>
          <%= version["date"] %>: <a href="<%=version["links"][0]["url"]%>"><%= version["note"]%></a>
        </li>
      <% end %>
    </ul>
  </li>
</ul>
